<?doctype html>
<html>
  <head>
    <title>Prediction</title>
    <style>
      input {
        margin-bottom: 1em;
      }
    </style>
  </head>
  <body>
    <h1>Prediction</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h2>Generate mask from image</h2>
    <form method="POST" action="/prediction" enctype="multipart/form-data">
      <input name="image" id="image" type="file" /><br />
      <label for="x">x</label>
      <input name="x" id="x" type="text" />
      <label for="y">y</label>
      <input name="y" id="y" type="text" /><br />
      <button type="submit">Predict</button>
    </form>

    <h2>Generate embedded image model from image</h2>
     <form method="POST" action="/embedded_model" enctype="multipart/form-data">
      <input name="image" id="image" type="file" /><br />
      <button type="submit">Get Model</button>
    </form>

    <h2>Generate mask from embedded image model</h2>
     <form method="POST" action="/from_model" enctype="multipart/form-data">
      <input name="model" id="model" type="file" /><br />
      <label for="x">x</label>
      <input name="x" id="x" type="text" />
      <label for="y">y</label>
      <input name="y" id="y" type="text" /><br />
      <h4>Original Image Dimensions</h4>
      <label for="img_x">x</label>
      <input name="img_x" id="img_x" type="text" />
      <label for="img_y">y</label>
      <input name="img_y" id="img_y" type="text" /><br />
      <button type="submit">Get Mask</button>
    </form>

  </body>
</html>
